/* ===========Variable============= */

:root {
  --font-family: 'Source Sans 3', sans-serif;
  --color-primario: #ffffff;
  --color-secundario: #ff9800;
  --color-fondo: #f1f1f1;
}

  
/*============Primera Linea /El Logo y la barra de Tres Palabras===============*/

.headphones_hero_1 {
  background-image: url("images/headphones_hero_1.jpg");
  background-size:  cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 800px;
  }

  .header-container {
    display: flex;
    justify-content: space-between;
    width: 1300px;
    margin: auto;
    align-items: center;
  }

.logo-container img {
  width: 140px;
  margin-top: 30px;
  } 

  .nav-link{
  display: inline-block;
  padding: 35px;
  color: var(--color-primario);
  font-family: var(--font-family);
  text-decoration: none;  
  font-weight: bold;
}


/*============Elementos del Medio===============*/

.middle-container{
  display: block;
  align-items: center;
  
}

.lorem1{
  font-family: var(--font-family);
  color: white;
  font-size: 40px;
  margin-bottom: 0%;
  height: 50px;
  margin-top: 316px;
}

.lorem2{
  font-family: var(--font-family);
  color: white;
  margin: auto;
}

.botonmorado {
  background-color: #FF6565;
  border-radius: 47px;
  font-family: Arial, Helvetica, sans-serif;
  margin-top: 51px;
  padding: 16px;
  color: white;
  font-size: 11px;
  font-weight: bold;
  width: 150px;
}

.lorem3{
  width: 43%;
  font-family: var(--font-family);
  color: #ffffff;
  margin-top: 68px;
}

/*============= Menú de hamburguesa============ */

.menu-toggle {
  display: none;
}

.menu-icon {
  display: none;
}

.menu {
  display: flex;
}

.menu-link {
  display: inline-block;
  padding: 35px;
  color: var(--color-primario);
  font-family: var(--font-family);
  text-decoration: none;
  font-weight: bold;
}

/*============== Media query para pantallas pequeñas ===============*/

@media (max-width: 375px) {
  .header-container {
    flex-wrap: wrap;
  }

  .logo-container {
    flex: 1 0 100%;
    text-align: center;
    margin-bottom: 20px;
  }

  .menu-toggle {
    display: inline-block;
    margin-right: 20px;
    cursor: pointer;
  }

  .menu {
    flex: 1 0 100%;
    display: none;
    justify-content: space-between;
  }

  .menu-link {
    display: block;
    padding: 10px;
  }

  .menu-toggle:checked ~ .menu {
    display: flex;
  }

  .menu-toggle:checked + .menu-icon {
    display: none;
  }
}


/*========= What We do Section ===========*/

.what-we-do1 {
  font-family: var(--font-family);
  font-size: 35px;
  font-weight: 100;
  color: #000000;
  margin-top: 100px;

}

.what-we-do2 {
  font-family: var(--font-family);
  color: rgb(0, 0, 0);
  font-size: 17px;
  width: 40%;
  margin-left: auto;
  margin-right: auto;
}

.icons{
  display: flex; /* Mostrar las imágenes en línea */
  justify-content: center;
  align-items: flex-start;
  margin-top: 116px;
  margin-left: 269px;
}

.nombre {
  font-family: var(--font-family);
  font-size: 13px; /* Cambia el tamaño del título */
  margin-top: 10px; /* Ajusta el espacio superior del título */
  color: rgb(0, 0, 0);
  margin-top: 44px;
}

.subtitle {
  font-family: var(--font-family);
  font-size: 13px;
  color: rgb(0, 0, 0);
  width: 60%;
  margin-left: -28px;
}


/*========"Our results" section========*/

.our-result-container{
  width: 100%;
  height: 753px;
  margin-top: 72px;
  text-align: center;
}

.ourresults{
  color: #f1f1f1;
  font-family: var(--font-family);
  font-weight: 100;
  font-size: 35px;
  padding-top: 133px;
}

.descripcion{
  font-family: var(--font-family);
  color: rgb(255, 255, 255);
  font-size: 17px;
  width: 40%;
  margin-left: 574px;
  margin-top: 79px;
}

.icons2{
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin-top: -212px;
}

.image1{
  margin: 44px;
  margin-top: -104px;
}

.subtitle-white{
  font-family: var(--font-family);
  font-size: 13px;
  color: rgb(255, 255, 255);

}

.icons2{
  position: relative;
}

.overlay-container {
  position: relative;
  display: inline-block;
}

.two, .subtitle-white {
  position: absolute;
}

.two {
  margin-right: -95px;
  padding-inline: 5px;
  margin-left: -178px;
  margin-top: -33px;
}

.subtitle-white {
  margin-right: -95px;
  padding-inline: 5px;
  margin-left: 79px;
  margin-top: -92px;
}

/*========"Contact us" section========*/

.contact-container{
  text-align: justify;
  
}


.contactus{
  color: #000000;
  font-family: var(--font-family);
  font-weight: 100;
  font-size: 35px;
  padding-top: 133px;
  margin-left: 893px;
}

.contact-form{
  margin-left: 865px;
}

.form-group{
  color: #000000;
  font-family: var(--font-family);
  font-weight: 100;
  font-size: 13px;
  padding-top: 13px;
}

.botonmorado {
  background-color: #FF6565;
  border-radius: 47px;
  font-family: Arial, Helvetica, sans-serif;
  margin-top: 51px;
  padding: 16px;
  color: white;
  font-size: 11px;
  font-weight: bold;
  width: 150px;
  border: none;
  margin-left: 34px;
}

.contact-container input,
.contact-container textarea {
  border: none;
  border-bottom: 1px solid black;
  outline: none;
}

/*------------------FOOTER--------------------*/

.lastblue{
  display: flex;
  flex-direction: column;
  background-color: #071629;
  padding: 50px 0;
  margin-top: 15px;
}

.footer-container{
    display: flex;
    justify-content: space-between;
    width: 1300px;
    margin: auto;
    align-items: center;
  }


.logo-container2 {

  display: inline-block;
  justify-content: flex-start;
  margin-bottom: 0px;
  margin-left: 100px;
  width: auto;
height: auto;

}

.logos{
  display: inline;
  padding: 50px;
  margin-right: 150px;
  margin-bottom: 9px;

}
.lastword{
  color: #bdbdbd;
  font-family: Arial, Helvetica, sans-serif;
  font-style: normal;
  font-size: 15px;
}